*.o
*.lo
*.la
Makefile
gtags.conf
plugin-factory/pygments_parser.py
Doxyfile
config.h
config.log
config.status
global/.deps/
global/global
globash/globash
gozilla/.deps/
gozilla/gozilla
gtags-cscope/.deps/
gtags-cscope/gtags-cscope
gtags/.deps/
gtags/gtags
htags/.deps/
htags/completion.cgi
htags/global.cgi
htags/htags
libdb/.deps/
libdb/libglodb.a
libglibc/.deps/
libglibc/libgloglibc.a
libltdl/.deps/
libltdl/.libs/
libltdl/loaders/.deps/
libltdl/loaders/.dirstamp
libparser/.deps/
libparser/libgloparser.a
libtool
libutil/.deps/
libutil/libgloutil.a
plugin-factory/.deps/
plugin-factory/.libs/
stamp-h1
autom4te.cache/
config-h.in~
configure.ac~
configure~
